<section class="py-5" id="services">
  <div class="container px-5">
    <div class="text-center">
      <h2 class="fw-bolder">Nossos Serviços</h2>
      <p class="lead">Conheça os serviços que oferecemos</p>
    </div>
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-laptop"></i>
        </div>
        <h3 class="h4 fw-bolder">E-commerce</h3>
        <p>Desenvolvimento e personalização de lojas virtuais para venda de produtos online.</p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-globe"></i>
        </div>
        <h3 class="h4 fw-bolder">Aplicações Web</h3>
        <p>Desenvolvimento de aplicações web personalizadas para atender às necessidades específicas dos nossos clientes.</p>
      </div>
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-cash"></i>
        </div>
        <h3 class="h4 fw-bolder">Sistemas de Gerenciamento de Vendas</h3>
        <p>Criação de sistemas eficientes para gerenciamento de vendas, controle de estoque e processos comerciais.</p>
      </div>
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-youtube"></i>
        </div>
        <h3 class="h4 fw-bolder">Treinamento</h3>
        <p>Aproveite nossos cursos ao vivo gratuitos no YouTube, onde abordamos a utilização do framework Angular. Aprenda e aprimore suas habilidades sem nenhum custo adicional.</p>
      </div>
    </div>
  </div>
</section>
