<section class="py-5 border-bottom">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder">Quem somos</h2>
      <p class="lead mb-0">Conheça a 4CSS</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <!-- Testemunhal 1 -->
        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo euismod mi, nec dapibus magna aliquam ac. In at magna nec orci auctor mattis ac et nunc. Pellentesque ac sagittis enim. Donec malesuada dolor non est pharetra, non hendrerit sapien tincidunt.</p>
                <div class="small text-muted">- Nome do Cliente, Localização</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Testemunhal 2 -->
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo euismod mi, nec dapibus magna aliquam ac. In at magna nec orci auctor mattis ac et nunc. Pellentesque ac sagittis enim. Donec malesuada dolor non est pharetra, non hendrerit sapien tincidunt.</p>
                <div class="small text-muted">- Nome do Cliente, Localização</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
