<div class="row gx-5 justify-content-center">
  <div class="col-lg-8">
    <br>
    <h2 class="fw-bolder quem-somos-title">Quem somos</h2>
    <div class="quem-somos-texto">
      <div><b><strong class="aspas">&ldquo;</strong></b></div>
      <div>4 CSS é uma startup única composta por quatro desenvolvedores ambiciosos. Nossa história começou em um grupo de WhatsApp, onde, inicialmente, buscávamos oportunidades de emprego na área de desenvolvimento de software. Diante da escassez de oportunidades, decidimos criar nosso próprio caminho, transformando nosso grupo em uma startup.</div>
      <div>Hoje, trabalhamos com projetos reais como freelancers, atendendo clientes com soluções de software personalizadas e inovadoras. Apesar de cada um de nós ainda almejar uma posição em uma grande empresa, temos orgulho da nossa jornada empreendedora até aqui com a 4 CSS.</div>
      <div>Juntos, continuamos a crescer, aprender e evoluir, empregando nossas habilidades técnicas e desenvolvendo novas competências, sempre com a meta de fazer a diferença no mundo do desenvolvimento de software. Na 4 CSS, nós acreditamos que o futuro da tecnologia está nas mãos daqueles dispostos a sonhar e a trabalhar para concretizar esses sonhos.</div>
      <div class="aspas-right"><b><strong class="aspas">&ldquo;</strong></b></div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="https://www.instagram.com/4css" target="_blank">
          <i class="bi bi-instagram bi-8x social-icon"></i>
        </a>
      </div>
      <div class="col text-center">
        <a href="https://www.linkedin.com/in/4css" target="_blank">
          <i class="bi bi-linkedin bi-8x social-icon"></i>
        </a>
      </div>
      <div class="col text-center">
        <a href="https://www.youtube.com/c/4CSS" target="_blank">
          <i class="bi bi-youtube bi-8x social-icon"></i>
        </a>
        <br>
        <br>
      </div>
    </div>
