<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" routerLink="/">
      <img class="logo-image img-fluid" [src]="logoImage" alt="4CSS">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!navbarCollapsed" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="onHomeClick()">
            <i class="bi bi-house-door-fill"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onAboutClick()">
            <i class="bi bi-info-circle-fill"></i> Sobre
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onPortfolioClick()">
            <i class="bi bi-folder-symlink-fill"></i> Portfólio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onServicesClick()">
            <i class="bi bi-gear-fill"></i> Serviços
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onContactClick()">
            <i class="bi bi-envelope-fill"></i> Contatos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
