<section class="bg-light py-4">
  <div class="container px-5 my-5 px-5">
      <div class="text-center mb-2">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
              <i class="bi bi-envelope"></i>
          </div>
          <h2 class="fw-bolder">Entrar em contato</h2>
          <p class="lead mb-0">Adoraríamos ouvir de você</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                  <div class="form-floating mb-2">
                      <input class="form-control" id="name" type="text" placeholder="Enter your name..." formControlName="name" />
                      <label for="name">Nome Completo</label>
                  </div>
                  <div class="form-floating mb-2">
                      <input class="form-control" id="email" type="email" placeholder="name@example.com" formControlName="email" />
                      <label for="email">Endereço de Email</label>
                  </div>
                  <div class="form-floating mb-2">
                      <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" formControlName="phone" />
                      <label for="phone">Numero de telefone</label>
                  </div>
                  <div class="form-floating mb-2">
                      <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 3rem" formControlName="message"></textarea>
                      <label for="message">Mensagem</label>
                  </div>
                  <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-2">
                          <div class="fw-bolder">Formulário enviado com sucesso!</div>
                          Para ativar este formulário, inscreva-se em
                          <br />
                          <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                      </div>
                  </div>
                  <div class="d-none" id="submitErrorMessage">
                      <div class="text-center text-danger mb-3">Erro ao enviar a mensagem!</div>
                  </div>
                  <div class="d-grid">
                      <button class="btn btn-primary btn-lg" id="submitButton" type="submit" [disabled]="!contactForm.valid">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
