<app-navbar (contactClick)="scrollToContact()" (homeClick)="scrollToHome()" (portfolioClick)="scrollToPortfolio()" (aboutClick)="scrollToAbout()" (servicesClick)="scrollToServicesWork()"></app-navbar>
<app-home #homeSection></app-home>
<app-about #aboutSection></app-about>
<br>
<br>
<app-portfolio #portfolioSection></app-portfolio>
<app-serviceswork #servicesWorkSection></app-serviceswork>
<!-- <iframe src="assets/bootstrap/index.html" style="width: 100%; height: 100vh; border: none;"></iframe> -->
<app-contact #contactSection></app-contact>
<app-footer></app-footer>
