app-home::after {
  content: "";
  display: block;
  border-bottom: 3px solid #000; /* ajuste a espessura e a cor conforme necessário */
  width: 100%;
}
app-about::after {
  content: "";
  display: block;
  border-bottom: 3px solid #000; /* ajuste a espessura e a cor conforme necessário */
  width: 100%;
}
