<!-- home.component.html -->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2 fira-code-bold"> 4 Code Solutions</h1>
          <p class="lead text-white-50 mb-4">Desenvolvimento web, criamos soluções responsivas e personalizadas, adaptáveis a qualquer dispositivo, combinando design inovador e tecnologia.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Vamos começar</a>
            <a class="btn btn-outline-light btn-lg px-4" href="#services">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-code-square"></i></div>
        <h2 class="h4 fw-bolder">Desenvolvimento Web Personalizado</h2>
        <p>Estamos equipados para criar soluções web únicas e personalizadas, adaptadas às necessidades específicas de cada cliente. Acreditamos na combinação de design inovador e tecnologia para desenvolver produtos que atendam às demandas atuais.</p>

      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-display"></i></div>
        <h2 class="h4 fw-bolder">Soluções Responsivas</h2>
        <p>Criamos websites e aplicativos responsivos que são otimizados para qualquer tipo de dispositivo, seja desktop, tablet ou smartphone. Nossa equipe está empenhada em desenvolver soluções acessíveis e fáceis de usar, independentemente da plataforma.</p>

      </div>
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-lightbulb"></i></div>
        <h2 class="h4 fw-bolder">Inovação e Tecnologia</h2>
        <p>Nós da 4 CSS acreditamos que o futuro da tecnologia está nas mãos daqueles dispostos a sonhar e a trabalhar para concretizar esses sonhos. Estamos continuamente crescendo, aprendendo e evoluindo, empregando nossas habilidades técnicas e desenvolvendo novas competências.</p>

      </div>
    </div>
  </div>
</section>

